*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color:rgba(52, 153, 128, 0.918) ;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: rgba(52, 153, 128, 0.918);
}
.navbar ul{
    display: flex;
    list-style: none; 
    margin: 20px 0px;
}
.navbar ul li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.699);
    padding: 8px 35px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
        background-color: rgba(52, 153, 128, 0.918) ;
        color:  rgba(20, 20, 173, 0.486);
        box-shadow: 0 0 10px rgb(49, 73, 77);
}
.logo{
    height: 40%;
    width: 80%;
}
form {
    border: 3px solid #f1f1f131;
    width: 60%;
    margin-left: 20%;
    margin-top: 40%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 18px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}
button {
    background-color: #1a536dc7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #1a226dc7;
}
.container {
    padding: 20px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
.heading{
    margin-left: 36%;    
}

  